* {
  font-family: 'Edu Tas Beginner', sans-serif;
}

header {
  height: 150px;
  background-image: url(../../img/wall.png);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

main {
  background-image: url(../../img/cork.png);
  position: relative;
}

div .card:hover {
  scale: 1.05;
  transform: rotate(10deg);
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
}

div .card-img:hover {
  cursor: pointer;
}

.card:hover .pin {
  display: none;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

div p {
  font-family: 'Sometype Mono', 'monospace';
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.hw-500 {
  height: 500px;
  width: 500px;
}



@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
}