header {
  height: 150px;
  background-image: url(../../img/wall.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-image: url(../../img/cork.png);
}

h1 {
  font-family: 'Edu Tas Beginner';
  font-size: 5rem;
  font-weight: bold;
}