* {
  font-family: 'Edu Tas Beginner', sans-serif;
}

header {
  height: 150px;
  background-image: url(../../img/wall.png);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
}

main {
  background-image: url(../../img/cork.png);
  position: relative;
  z-index: 0;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

div p {
  font-family: 'Sometype Mono', 'monospace';
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  background-image: url(../../img/pin.svg);
  background-repeat: no-repeat;
  background-position: 50%;
}




@media (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
}